[submodule "computer-graphics-bounding-volume-hierarchy-master/libigl"]
	path = computer-graphics-bounding-volume-hierarchy-master/libigl
	url = https://github.com/libigl/libigl.git
[submodule "computer-graphics-meshes-master/libigl"]
	path = computer-graphics-meshes-master/libigl
	url = https://github.com/libigl/libigl.git
